aiofiles
aiohttp
beautifulsoup4
Flask
Flask_Cors
GitPython
loguru==0.7.2
Pillow==10.4.0
pymongo==4.9.1
pytest==8.2.2
pytz==2024.1
rapidfuzz==3.9.6
Requests==2.32.3
rich==13.8.1
schedule==1.2.2
streamlit
websockets==12.0
Werkzeug==3.0.4
zhdate==0.1
